<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head') %>
</head>
<body class="github-font-standard">
	<h1 class="center-text">Riri</h1>
	<br>
	<h3 class="center-text"><%= users %> users</h3>
	<h3 class="center-text"><%= servers %> servers</h3>
	<h3 class="center-text"><%= channels %> channels</h3>
	<h3 class="center-text"><%= commands %> commands</h3>
</body>
</html>